<!-------------------------------Footer-------------------------->
<section id="footer">

  <div class="container">
    <div class="row">
      <div class="center-mobile col-lg-6 col-md-6 col-sm-6">
        <form class="" action="index.html" method="post">
          <div class="form-group">
            <!-- <h3 style="color:#27b368;">Subscribe Today</h3> -->
            <br>
            <input type="email" class="form-control " placeholder="Enter Email Here">
            <a href="#" class="btn btn-outline-dark margin-bottom">Subscribe</a>
          </div>
        </form>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <h5 class="footer-h5">QUICK LINKS</h5>
        <a href="/">Home</a>
        <br>
        <a href="/about">About</a>
        <br>
        <a href="/contact">Contact</a>
        <br>
        <a href="/news">News</a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <h5 class="footer-h5">MEDIA</h5>
        <a href="https://www.facebook.com/realestateinformant/"><i class="social-bottom fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/re_informant" <i class="social-bottom fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/realestateinformant/" <i class="social-bottom fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/lance-smith-0a0785a6/" <i class="social-bottom fab fa-linkedin-in"></i></a>
        <a href="https://www.youtube.com/channel/UCYPozUh4cV0eCtSG0yb5d2A" <i class="social-bottom fab fa-youtube"></i></a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 margin-bottom">
        <h5 class="footer-h5">Support</h5>
        <a href="#">Terms & Conditions</a>
        <br>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>


  <div class="copyright-logo">
    <img class="logo-bottom" src="/images/Visionarylogo.svg" alt="...">
    <p class="copyright">2020 © Lance Smith - All Rights Reserved </p>
  </div>


</section>


<!-- SCRIPT TAGS -->
<script src="https://unpkg.com/@popperjs/core@2.0.0-rc.2"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- External JS File -->
<script src="/js/script.js"></script>
</body>

</html>
