<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>Visionary CEO</title>

  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Font Awesome Link -->
  <script src="https://kit.fontawesome.com/ecb984a123.js" crossorigin="anonymous"></script>

  <!-- Google Fonts Link -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600|Roboto:100,300,400,500&display=swap" rel="stylesheet">
  <!-- CSS Link -->
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <!--/topnav-->
  <nav id="top-nav" class="navbar sticky-top navbar-expand-md navbar-dark bg-trans sticky-top" style="position:fixed;">
    <div class="container">
      <a class="navbar-brand nav-logo" href="/"><img src="/images/Visionarylogo.svg" class="img-fluid" width="300px" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="about-lance">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12">
          <!-- <h2>A bit about</h2>
        <br> -->
          <h1 style="font-size:5rem;">Lance Smith.</h1>
          <br>
          <p class="description">Together we will uncover a wealth of knowledge and information to get you fully equipped with the tools, tips, and strategies needed to successfully learn and invest in real estate.

            Even if you’ve taken an unsuccessful shot at real estate before, knowledge is power. Maybe you weren’t armed with the proper knowledge tools and strategy then. This time it's different you have me to help you properly formulate the plan
            to achieve your goals. I’ve been learning, coaching and investing in real estate since 2002. I AM NOW THE COACH I WISH I HAD!

            If you are aiming to acquire your first home, looking to get into the house flipping business or simply gearing toward expanding your current real estate portfolio my expertise experience and ability to implement strategy will guide you
            to a flawless execution.

            Nearly 20 years of transactions, hundreds of home flips and plenty of admitted failures is what gives me the ability to help create wealth for SERIOUS Real Estate Investors.</p>
        </div>
        <div class="center- col-lg-7 col-md-12">
          <img class="lance-about1 js-show-on-scroll slide-left" src="/images/lance4.jpg" alt="...">
        </div>
      </div>
    </div>

    <!---ADJECTIVES---------------------------------->
    <div class="container adjectives">
      <h1 class="js-show-on-scroll slide-left">Authenticity.</h1>
      <p class="js-show-on-scroll slide-left"><em>Stay True To Yourself</em></p>
      <hr>
      <br>
      <h1 class="js-show-on-scroll slide-right">Creativity.</h1>
      <p class="js-show-on-scroll slide-right"><em>Always Thinking Outside The Box</em></p>
      <hr>
      <br>
      <h1 class="js-show-on-scroll slide-left">Motive.</h1>
      <p class="js-show-on-scroll slide-left"><em>Wake Up Motivated Every Day</em></p>
      <hr>
      <br>
      <h1 class="js-show-on-scroll slide-right">Failure.</h1>
      <p class="js-show-on-scroll slide-right"><em>Never Afraid Of Failing</em></p>
      <hr>
      <br>
      <h1 class="js-show-on-scroll slide-left">Perseverance.</h1>
      <p class="js-show-on-scroll slide-left"><em>Try Again</em></p>
      <hr>
      <br>
    </div>

    <!-- <div class="container-fluid middle-container">
    <div class="row">
      <div class="col-lg-7">
        <img class="js-show-on-scroll slide-right lance-about3" src="/images/lance7.jpg" alt="...">
      </div>
      <div class="col-lg-5">
        <h2>The Legacy</h2>
        <br>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A arcu cursus vitae congue mauris rhoncus. Lacus sed turpis tincidunt id aliquet. Risus viverra
          adipiscing at in
          tellus integer feugiat scelerisque varius. Massa enim nec dui nunc mattis enim ut tellus elementum. Arcu felis bibendum ut tristique. Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Dictum sit amet justo donec enim. Cras
          adipiscing enim eu turpis egestas. Eu non diam phasellus vestibulum. Et magnis dis parturient montes nascetur. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Est placerat in egestas erat imperdiet sed euismod nisi.
          Mattis molestie a iaculis at erat.</p>
        <br>
        <p class="description description-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A arcu cursus vitae congue mauris rhoncus. Lacus sed turpis tincidunt id aliquet. Risus viverra
          adipiscing at in
          tellus integer feugiat scelerisque varius. Massa enim nec dui nunc mattis enim ut tellus elementum. Arcu felis bibendum ut tristique. Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Dictum sit amet justo donec enim. Cras
          adipiscing enim eu turpis egestas. Eu non diam phasellus vestibulum. Et magnis dis parturient montes nascetur.</p>
      </div>
    </div>
  </div> -->

    <div class="about-quote">
      <h3 class="quote-position">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua."</h3>
      <h5 class="quote-position">-Lance Smith</h5>
      <hr class="quote-position">
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5">
          <h2>The Sky Is The Limit</h2>
          <br><br>
          <p class="description"> Together we will uncover a wealth of knowledge and information to get you fully equipped with the tools, tips, and strategies needed to successfully learn and invest in real estate.

            Even if you’ve taken an unsuccessful shot at real estate before, knowledge is power. Maybe you weren’t armed with the proper knowledge tools and strategy then. This time it's different you have me to help you properly formulate the plan
            to achieve your goals. I’ve been learning, coaching and investing in real estate since 2002. I AM NOW THE COACH I WISH I HAD!

            If you are aiming to acquire your first home, looking to get into the house flipping business or simply gearing toward expanding your current real estate portfolio my expertise experience and ability to implement strategy will guide you
            to a flawless execution.

            Nearly 20 years of transactions, hundreds of home flips and plenty of admitted failures is what gives me the ability to help create wealth for SERIOUS Real Estate Investors.</p>
          <br>
          <p class="description description-hidden-mobile"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A arcu cursus vitae congue mauris rhoncus. Lacus sed turpis
            tincidunt id aliquet. Risus
            viverra adipiscing at intellus integer feugiat scelerisque varius.</p>
        </div>
        <div class="col-lg-7">
          <img class="lance-about2 js-show-on-scroll slide-left" src="/images/lance6.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="cta">

    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-lg-12">
          <h1>Sign Up Today and recieve Lorem Ispum:</h1>
          <br><br>
          <h4><i class="fas fa-check-circle check-circle"></i>Lorem Ipsum Dolor Sit Amet</h4>
          <h4><i class="fas fa-check-circle check-circle"></i>Lorem Ipsum Dolor Sit Amet</h4>
          <br><br>
          <a href="" class="btn btn-outline-dark">Contact Us</a>
        </div>
        <div class="col-lg-6"> -->


          <!-- <form>
            <div class="form-group">
              <label for="exampleInputEmail">First Name <span style="color:red;">*</span></label>
              <input type="text" name="" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Last Name <span style="color:red;">*</span></label>
              <input type="text" name="" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Email <span style="color:red;">*</span></label>
              <input type="email" name="" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail">Mobile Phone Number <span style="color:red;">*</span></label>
              <input type="text" name="" class="form-control" required>
            </div>
          </form> -->
          <div class="form-group">
          </div>
        </div>
      </div>
    </div>




    <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/images/arrow-up.svg" alt="..."></button>

  </section>

  <%-include('partials/footer');%>
