<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>Visionary CEO</title>

  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Font Awesome Link -->
  <script src="https://kit.fontawesome.com/ecb984a123.js" crossorigin="anonymous"></script>

  <!-- Google Fonts Link -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600|Roboto:100,300,400,500&display=swap" rel="stylesheet">
  <!-- CSS Link -->
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <!--/topnav-->
  <nav id="top-nav" class="navbar sticky-top navbar-expand-md navbar-dark bg-trans sticky-top" style="position:fixed;">
    <div class="container">
      <a class="navbar-brand nav-logo" href="/"><img src="/images/Visionarylogo.svg" class="img-fluid" width="300px" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="contact">

    <br><br><br><br><br>
    <div style="margin-bottom:70px;" class="text-center">
      <h1 class="contact__h1">Contact Us Today!</h1>
      <br>
      <p class="contact__p">Our team is happy to answer your questions.</p>
      <p class="contact__p">Fill out the form and we’ll be in touch as soon as possible.</p>
    </div>

    <div class="container-fluid green-box">
      <div class="row contact__row--block">
        <div class="col-lg-6 col-md-12 contact-sm-12">

        </div>
        <div class="col-lg-5 col-md-12 contact-sm-12 contact__icon">
          <h6 class="contact__h6">Work With Lance Today!</h6>
          <p class="contact__p--features">
            <i class="fas fa-check-circle contact__i--check"></i>
            praesent tristique magna sit amet purus gravida quis blandit turpis cursus
          </p>
          <p class="contact__p--features">
            <i class="fas fa-check-circle contact__i--check"></i>
            praesent tristique magna sit amet purus gravida quis blandit turpis cursus
          </p>
          <p class="contact__p--features">
            <i class="fas fa-check-circle contact__i--check"></i>
            praesent tristique magna sit amet purus gravida quis blandit turpis cursus
          </p>
        </div>
        <div class="col-1">

        </div>
      </div>
      <div class="row contact__row--bottom">
        <div class="col-lg-5 col-md-12 contact-sm-12 contact__icon--bottom">
          <h6 class="contact__h6">Work With Lance Today!</h6>
          <p class="contact__p--features">
            <i class="fas fa-check-circle contact__i--check"></i>
            praesent tristique magna sit amet purus gravida quis blandit turpis cursus
          </p>
          <p class="contact__p--features">
            <i class="fas fa-check-circle contact__i--check"></i>
            praesent tristique magna sit amet purus gravida quis blandit turpis cursus
          </p>
          <p class="contact__p--features">
            <i class="fas fa-check-circle contact__i--check"></i>
            praesent tristique magna sit amet purus gravida quis blandit turpis cursus
          </p>
        </div>
        <div class="col-lg-5 col-md-12 contact-sm-12">
          <h6 class="contact__h6"><i class="far fa-comments contact__i"></i>General Communication</h6>
          <p class="contact__p--features">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec ultrices dui sapien eget mi proin.</p>
        </div>
        <div class="col-lg-5 col-md-12 contact-sm-12">
          <h6 class="contact__h6"><i class="far fa-question-circle contact__i"></i>Help & Support</h6>
          <p class="contact__p--features">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec ultrices dui sapien eget mi proin.</p>
        </div>
      </div>
    </div>


    <form class="contact__form">
      <div class="form-group">
        <label for="exampleInputEmail">First Name <span style="color:red;">*</span></label>
        <input type="text" name="" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail">Last Name <span style="color:red;">*</span></label>
        <input type="text" name="" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail">Email <span style="color:red;">*</span></label>
        <input type="email" name="" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail">Mobile Phone Number <span style="color:red;">*</span></label>
        <input type="text" name="" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail">Comments <span style="color:red;">*</span></label>
        <textarea class="form-control" name="name" rows="2" cols="50"></textarea>
      </div>
      <div class="form-group">
        <a href="" class="btn btn-outline-dark">Submit</a>
      </div>
    </form>

    <!-------------------------------ARROW TOP--------------------------------->

    <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/images/arrow-up.svg" alt="..."></button>

  </section>

  <%-include('partials/footer');%>
