<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>Visionary CEO</title>

  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Font Awesome Link -->
  <script src="https://kit.fontawesome.com/ecb984a123.js" crossorigin="anonymous"></script>

  <!-- Google Fonts Link -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600|Roboto:100,300,400,500&display=swap" rel="stylesheet">
  <!-- CSS Link -->
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <!--/topnav-->
  <nav id="top-nav" class="navbar sticky-top navbar-expand-md navbar-dark bg-trans sticky-top" style="position:fixed;">
    <div class="container">
      <a class="navbar-brand nav-logo" href="/"><img src="/images/Visionarylogo.svg" class="img-fluid" width="300px" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/news">News</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--nav ends-->


  <section id="news">

    <!--Banner-->
    <div class="img-fluid news__img--top news__img-banner">

    </div>


    <div class="container-fluid">
      <h1 class="text-center u-h1-large">Most Recent Articles</h1>
      <div class="row row__articles">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2 class="news__h2">Foreclosure Failures</h2>
          <p class="news__p">
            How foreclosure affects entire communities. When a family is foreclosed upon the damage is not only felt by those affected individuals. It affects the entire surrounding community. Foreclosure means that a neighborhood just lost a
            homeowner, and in many communities, with higher foreclosure rates, it is not uncommon to see 3-5 foreclosed homes on one street.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 card__margin--bottom card__1 card__zoom">
          <a class="news__hover" href="https://www.linkedin.com/pulse/foreclosure-failures-lance-smith/?published=t">
            <div class="card text-center card__position" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Foreclosure <br>Failures</h5>
                <br><br>
                <a href="https://www.linkedin.com/pulse/foreclosure-failures-lance-smith/?published=t" class="btn btn-outline-dark">Read</a>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row row__articles">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2 class="news__h2 ">Is The American Dream Still Alive</h2>
          <p class="news__p">
            Homeownership serves as the very fabric of our society and economy. Without it schools struggle to obtain funding, property values fall, and the overall standard of living in our communities decline.
          </p>
          <p class="news__p">
            In the 11 years since the Great Recession and the collapse of the housing market, the latest data and trends have shown that those eligible to be first time home buyers are moving away from homeownership.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 card__margin--bottom card__2 card__zoom">
          <a class="news__hover" href="https://www.linkedin.com/pulse/american-dream-still-alive-lance-smith/?published=t">
            <div class="card text-center card__position" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Is The American Dream Still Alive</h5>
                <a href="https://www.linkedin.com/pulse/american-dream-still-alive-lance-smith/?published=t" class="btn btn-outline-dark">Read</a>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row row__articles">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h2 class="news__h2 ">Money Pit or Money Maker</h2>
          <p class="news__p">
            When shopping around for a home, most prospective home buyers prefer to purchase a house with the latest renovations. By doing so thousands of dollars can be saved in repairs and maintenance-related expenses. While purchasing a home
            with
            modern renovations sounds like a no brainer there are some critical objectives that must be met if one is to avoid the financial pitfalls.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 card__margin--bottom card__3 card__zoom">
          <a class="news__hover" href="https://www.linkedin.com/pulse/money-pit-maker-lance-smith/?published=t">
            <div class="card text-center card__position" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Money Pit or Money Maker</h5>
                <a href="https://www.linkedin.com/pulse/money-pit-maker-lance-smith/?published=t" class="btn btn-outline-dark">Read</a>
              </div>
            </div>
          </a>
        </div>
      </div>

      <!--Podcasts-->
      <h1 class="text-center podcast__heading">Most Recent Podcasts</h1>
      <div class="row row__podcast">
        <div class="col-lg-4 col-md-6 col-sm-6 card__margin--bottom">
          <a class="podcast__hover" href="https://lancesmith.org/podcast/index.html#episode">
            <div class="card text-center" style="width: 18rem;">
              <img src="/images/podcastcover.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lets Talk <br> About Contracting</h5>
                <a href="https://lancesmith.org/podcast/index.html#episode" class="btn btn-outline-dark">Listen</a>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 card__margin--bottom">
          <a href="https://open.spotify.com/show/0Ray4Ns0ddxQCYZHD0tu6H" class="podcast__hover">
            <div class="card text-center" style="width: 18rem;">
              <img src="/images/podcastcover.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">What Is Hard Money Lending</h5>
                <a href="https://open.spotify.com/show/0Ray4Ns0ddxQCYZHD0tu6H" class="btn btn-outline-dark">Listen</a>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 card__margin--bottom">
          <a href="https://lancesmith.org/podcast/index.html#episode" class="podcast__hover">
            <div class="card text-center" style="width: 18rem;">
              <img src="/images/podcastcover.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Beginners Guide to Mortgates: Discussing FHA</h5>
                <a href="https://lancesmith.org/podcast/index.html#episode" class="btn btn-outline-dark">Listen</a>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row row__podcast">
        <div class="col-lg-6 col-md-6 col-sm-6 card__margin--bottom">
          <a href="https://lancesmith.org/podcast/index.html#episode" class="podcast__hover">
            <div class="card text-center" style="width: 18rem;">
              <img src="/images/podcastcover.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">So You Wanna <br> Buy A Home</h5> <br>
                <a href="https://lancesmith.org/podcast/index.html#episode" class="btn btn-outline-dark">Listen<a>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 card__margin--bottom">
          <a href="https://lancesmith.org/podcast/index.html#episode" class="podcast__hover">
            <div class="card text-center" style="width: 18rem;">
              <img src="/images/podcastcover.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">The Messenger: Grant Cardone vs. Lance The Real Estate Informant</h5>
                <a href="https://lancesmith.org/podcast/index.html#episode" class="btn btn-outline-dark">Listen<a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/images/arrow-up.svg" alt="..."></button>

  </section>


  <%-include('partials/footer');%>
