<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>Visionary CEO</title>

  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Font Awesome Link -->
  <script src="https://kit.fontawesome.com/ecb984a123.js" crossorigin="anonymous"></script>

  <!-- Google Fonts Link -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,600|Roboto:100,300,400,500&display=swap" rel="stylesheet">
  <!-- CSS Link -->
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <!--/topnav-->
  <nav id="top-nav" class="navbar sticky-top navbar-expand-md navbar-dark bg-trans sticky-top" style="position:fixed;">
    <div class="container">
      <a class="navbar-brand nav-logo" href="/"><img src="/images/Visionarylogo.svg" class="img-fluid" width="300px" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/news">News</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--nav ends-->


  <section id="news">
    <!-- <h1 class="text-center">Most Recent Activity</h1> -->
    <!-- Top Img -->
    <div class="jumbotron-fluid articles__jumbotron">
      <img src="/images/article.jpeg" class="img-fluid news__img" alt="...">
      <h1 class="display-4">Foreclosure Failures</h1>
      <p class="lead">How foreclosure affects entire communities. When a family is foreclosed upon the damage is not only felt by those affected individuals. It affects the entire surrounding community. Foreclosure means that a
        neighborhood just lost a homeowner, and in many communities, with higher foreclosure rates, it is not uncommon to see 3-5 foreclosed homes on one street. At that point areas that were once thriving communities become unrecognizable and
        areas that are vulnerable often decline.</p>
      <a href="https://www.linkedin.com/pulse/foreclosure-failures-lance-smith/?published=t" class="btn btn-outline-dark">Read More</a>
    </div>

    <!-- PODCAST LINKS -->
    <div class="container-fluid">
      <div class="row row__podcast">
        <div class="col-lg-4 col-md-6 card__margin--bottom">
          <div class="card text-center" style="width: 18rem;">
            <img src="/images/podcastcover.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Lets Talk <br> About Contracting</h5>
              <a href="https://lancesmith.org/podcast/index.html#episode" class="btn btn-outline-dark">Listen</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 card__margin--bottom">
          <div class="card text-center" style="width: 18rem;">
            <img src="/images/podcastcover.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">What Is Hard Money Lending</h5>
              <a href="https://open.spotify.com/show/0Ray4Ns0ddxQCYZHD0tu6H" class="btn btn-outline-dark">Listen</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 card__margin--bottom">
          <div class="card text-center" style="width: 18rem;">
            <img src="/images/podcastcover.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Beginners Guide to Mortgates: Discussing FHA</h5>
              <a href="https://lancesmith.org/podcast/index.html#episode" class="btn btn-outline-dark">Listen</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Middle Img -->
    <div class="jumbotron-fluid articles__jumbotron">
      <img class="img-fluid news__img" src="/images/news__img--middle.jpeg" alt="...">
      <h1 class="display-4">Is The American Dream Still Alive</h1>
      <p class="lead">Homeownership serves as the very fabric of our society and economy. Without it schools struggle to obtain funding, property values fall, and the overall standard of living in our communities decline.</p>
      <a class="btn btn-outline-dark" href="https://www.linkedin.com/pulse/american-dream-still-alive-lance-smith/?published=t">Read More</a>
    </div>
    <div class="container">
      <div class="row row__podcast">
        <div class="col-lg-6 col-md-6 card__margin--bottom">
          <div class="card text-center" style="width: 18rem;">
            <img src="/images/podcastcover.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">So You Wanna <br> Buy A Home</h5> <br>
              <a href="https://lancesmith.org/podcast/index.html#episode" class="btn btn-outline-dark">Listen<a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 card__margin--bottom">
          <div class="card text-center" style="width: 18rem;">
            <img src="/images/podcastcover.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The Messenger: Grant Cardone vs. Lance The Real Estate Informant</h5>
              <a href="https://lancesmith.org/podcast/index.html#episode" class="btn btn-outline-dark">Listen<a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bottom IMG -->
    <div class="jumbotron-fluid articles__jumbotron">
      <img src="/images/news__img--bottom.jpeg" class="img-fluid news__img news__img--bottom" alt="...">
      <h1 class="display-4">Money Pit or Money Maker</h1>
      <p class="lead">When shopping around for a home, most prospective home buyers prefer to purchase a house with the latest renovations. By doing so thousands of dollars can be saved in repairs and maintenance-related expenses. While purchasing a
        home with modern renovations sounds like a no brainer there are some critical objectives that must be met if one is to avoid the financial pitfalls. </p>
      <a class="btn btn-outline-dark" href="https://www.linkedin.com/pulse/money-pit-maker-lance-smith/?published=t">Read More</a>
    </div>

    <!-- Follow Lance-->
    <div style="" class="container text-center">
      <div class="row follow">
        <div class="col-lg-7 col-md-12 col-sm-12">
          <h3>Stay up to date! Follow Lance on Social Media Today!</h3>
          <br><br><br>
        </div>
        <div class="col-lg-2 col-md-5 col-sm-5">
          <a href="/#social"><button type="button" class="btn btn-outline-dark" name="button">Follow</button></a>
        </div>
        <div class="col-1 col-lg-1 col-md-2 col-sm-2">
          <br>
        </div>
        <div class="col-lg-2 col-md-5 col-sm-5">
          <a href="/contact "><button type="button" class="btn btn-outline-dark" name="button">Contact</button></a>
        </div>
      </div>
    </div>


    <!-------------------------------ARROW TOP--------------------------------->

    <button onclick="topFunction()" id="myBtn" title="Go to top"><img src="/images/arrow-up.svg" alt="..."></button>


  </section>


  <%-include('partials/footer');%>
